.page_container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
}

.title {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.2;
    text-align: center;
    color: #2e2f42;
}

.info_text {
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    max-width: 25vw;
    text-align: center;
    transition: all 300ms ease-in-out;
}

.back_button {
    border-radius: 8px;
    padding: 8px 20px;
    background-color: #747bff;
    color: #f1f4fd;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    transition: all 500ms ease-in-out;
}

.back_button:hover {
    background-color: #0d6aff;
    color: #fff;
}

.divider_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 30vw;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: #202020;
    margin-bottom: 8px;
}

.image_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
}

.image {
    width: 30vw;
    height: 45vh;
}

.match_rect {
    position: relative;
    width: 190px;
    background: #ccc;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.match_current {
    outline: 2px solid #ffd700;
    box-shadow: 0 0 12px rgba(255, 215, 0, 0.9);
}

.match_next {
    outline: 2px dashed #888;
    box-shadow: 0 0 12px rgba(160, 160, 160, 0.43);
}

.match_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team_cell {
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team_circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 3px solid #999;
}

.vs_cell {
    flex: 1;
    text-align: center;
}

.vs_text {
    font-weight: 700;
}