:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body,
#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 500ms ease-in-out;
}

*:disabled {
  cursor: not-allowed;
}

*::after,
*::before {
  pointer-events: none;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

button:disabled:hover,
button:disabled:focus {
  background-color: gray;
  cursor: not-allowed;
}

main {
  flex-grow: 1;
  position: relative;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}